<div class="container-fluid">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>    
		</div>
		<a class="navbar-brand" href="#">FabFlix</a>
			
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
			    	<li>
			    		<a ui-sref="home"><span class="glyphicon glyphicon-home"></span>
			    			Home
			    		</a>
			    	</li>
			    	<li>
			    		<a ui-sref="cart">
			    			<span class="glyphicon glyphicon-shopping-cart"></span>
			    			Shopping Cart
			    		</a>
			    	</li>
				</ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li>
			    		<a ui-sref="login">
			    			<span class="glyphicon glyphicon-log-out"></span>
			    			Logout
			    		</a>
			    	</li>
			    </ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
	
		<!-- Loading animation while page is loading -->
		<div ng-show="cartLoading" class="text-center">
			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
		</div>
	
		<!-- Notification for removing a movie -->
		<div class="alert alert-danger" ng-show="removedMovieTitle && !cartLoading">
			You have successfully removed <strong>{{removedMovieTitle}}</strong> ({{removedMovieID}}) from your cart!
		</div>
		
		<!-- Notification for updating a movie -->
		<div class="alert alert-success" ng-show="updatedMovieTitle && !cartLoading">
			You have successfully updated <strong>{{updatedMovieTitle}}</strong> ({{updatedMovieID}}) from your cart!
		</div>
		
		<div align="right" ng-show="cartData && cartData.length && !cartData.error && !cartLoading">
			<button type="button" class="btn btn-primary" align="right" ng-click="onProceedToCheckoutClick()">
			 	<span class="glyphicon glyphicon-ok"></span>
				Proceed to Checkout
			</button>
		</div>
		
		<h3>Shopping Cart</h3>
		<hr />
		
		<!-- Nothing in shopping cart screen if no movies in cart -->
		<div ng-show="(!cartData || !cartData.length) && !cartData.error && !cartLoading">
			You have nothing in your shopping cart.
		</div>
		
		<!-- Actual output of cart data -->
		<section class="col-xs-12 col-sm-6 col-md-12" ng-show="cartData && cartData.length && !cartData.error && !cartLoading">
			<article class="search-result row" ng-repeat="movie in cartData">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a ui-sref="#" title="{{movie.title}}" class="thumbnail" style="cursor: pointer;">
						<img src="{{movie.movie_banner_url}}" alt="{{movie.movie_title}}" />
					</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 excerpet">
					<h3><a ng-click="onMovieClick(movie.movie_id)" style="cursor: pointer;">{{movie.movie_title}}</a></h3>
					<ul class="meta-search list-unstyled">
						<li><h5>
							<i class="glyphicon glyphicon-search"></i> 
							Movie ID: <u>{{movie.movie_id}}</u>
						</h5></li>
						<li><h5>
							<i class="glyphicon glyphicon-calendar"></i> 
							Year Released: <span class="label label-info">{{movie.movie_year}}</span>
						</h5></li>
						<li><h5>
							<i class="glyphicon glyphicon-film"></i> 
							Director: <span class="label label-info">{{movie.movie_director}}</span>
						</h5></li>
						<li>
							<div class="row">
								<div class="col-xs-4 center-block">
									<label for="quantity">Quantity</label>
							    	<div class="input-group">
							     		<span class="input-group-btn">
							        		<button class="btn btn-primary" type="button" ng-click="subtractCartQuantity(movie)">-</button>
							      		</span>
							      		<input id="quantity" ng-model="movie.movie_cart_quantity" type="text" class="form-control" style="text-align: center;">
							     		<span class="input-group-btn">
							        		<button class="btn btn-primary" type="button" ng-click="addCartQuantity(movie)">+</button>
							      		</span>
							    	</div>
							    </div>
							  	<div class="col-xs-4">
							  		<label for="updateCartButton"></label>
							    	<div class="input-group" style="margin-top: 6px">
										<button id="updateCartButton" type="button" class="btn btn-success" ng-click="updateCart(movie)">
											<span class="glyphicon glyphicon-pencil"></span>
											Update Cart
										</button>
							    	</div>
							  	</div>
						  	</div>
						</li>
						<li style="margin-top: 50px">
							<button id="addToCartButton" type="button" class="btn btn-danger" ng-click="removeFromCart(movie)">
								<span class="glyphicon glyphicon-trash"></span>
								Remove from Cart
							</button>
						</li>
					</ul>
				</div>
				<span class="clearfix borda"></span>
				<hr />
			</article>
			
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="onProceedToCheckoutClick()" style="margin-bottom: 20px;" ng-show="cartData && cartData.length && !cartData.error && !cartLoading">
				<span class="glyphicon glyphicon-ok"></span>
				Proceed to Checkout
			</button>
		</section>
	</div>
</div>