<div class="container-fluid">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>    
		</div>
		<a class="navbar-brand" href="#">FabFlix</a>
			
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
			    	<li>
			    		<a ui-sref="home"><span class="glyphicon glyphicon-home"></span>
			    			Home
			    		</a>
			    	</li>
			    	<li>
			    		<a ui-sref="cart">
			    			<span class="glyphicon glyphicon-shopping-cart"></span>
			    			Shopping Cart
			    		</a>
			    	</li>
			    	<li>
			    		<div class="container-fluid navbar-input-group" style="margin-top: 8px;">
							<angucomplete-alt id="keyword-angucomplete"
								 placeholder="Search for movies by title keywords"
								 pause="300"
								 selected-object="movieSelectedFromKeywordSearch"
								 remote-url="http://localhost:8080/FabFlix/servlet/FabFlixSearchServlet?query_type=BROWSE_BY_MOVIE_KEYWORDS&keywords="
								 remote-url-response-formatter="formatResponse"
								 remote-url-data-field="movie_data"			
								 remote-url-error-callback="keywordErrorReceived"	
								 title-field="movie_title"
								 description-field="movie_stars"
								 image-field="movie_banner_url"
								 minlength="1"
								 input-class="form-control form-control-small"
								 match-class="highlight"
								 text-searching="Searching for movies..."
								 text-no-results="No movies found!"
								 input-changed="keywordInputChanged"
								 style="display: inline-block; width: 475px;">
							</angucomplete-alt>
							<button 
								class="btn btn-primary" 
								type="button" 
								ng-click="keywordSubmit(keywordInput)"
								style="display: inline-block;">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</div>
			    	</li>
				</ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li>
			    		<a ui-sref="login">
			    			<span class="glyphicon glyphicon-log-out"></span>
			    			Logout
			    		</a>
			    	</li>
			    </ul>
			</div>
		</div>
	</nav>
	
	<div class="container-fluid">
		<!-- Notification for successful checkout  -->
		<div class="alert" ng-show="confirmationMessage" id="confirmationText">
			<strong>Checkout Message</strong>: {{confirmationMessage}}
		</div>
		
		<h3>Search For Movies</h3>
		<form class="form" ng-submit="searchSubmit()" ng-keypress="($event.which === 13)?searchSubmit():0">
			<div class="form-group">
				<label for="titleInput"><b>Title</b></label>
				<input ng-model="movieTitle" type="text" class="form-control" placeholder="e.g. 'The Godfather'">
			</div>
			
			<div class="form-group">
				<label for="yearInput"><b>Year</b></label>
				<input ng-model="year" type="number" class="form-control" placeholder="e.g. '1972'">
			</div>
			
			<div class="form-group">
				<label for="directorInput"><b>Director</b></label>
				<input ng-model="director" type="text" class="form-control" placeholder="e.g. 'Francis Ford Coppola'">
			</div>
			
			<div class="form-group">
				<label for="starFirstName"><b>Star First Name</b></label>
				<input ng-model="starFirstName" type="text" class="form-control"  placeholder="e.g. 'Marlon'">
			</div>
			
			<div class="form-group">
				<label for="starLastName"><b>Star Last Name</b></label>
				<input ng-model="starLastName" type="text" class="form-control" placeholder="e.g. 'Brando'">
			</div>
			
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="button" ng-click="searchSubmit()">Search</button>
				<span class="text-danger" ng-show="showError">You must have at least one field filled.</span>
			</div>
		</form>
		<hr />
	</div>
	
	<div class="container-fluid">
		<h3>Browse by Movie Genre</h3>
		<ul class="list-unstyled inline" style="display: inline-block; padding:10px;">
		    <li ng-repeat="genre in genreList.slice(0,10)"><a style="cursor: pointer;" ng-click="browseByMovieGenre(genre)">{{genre}}</a></li>
		</ul>
		
		<ul class="list-unstyled inline" style="display: inline-block; padding:10px;">
		    <li ng-repeat="genre in genreList.slice(10,20)"><a style="cursor: pointer;" ng-click="browseByMovieGenre(genre)">{{genre}}</a></li>
		</ul>
		
		<ul class="list-unstyled inline" style="display: inline-block; padding:10px;">
		    <li ng-repeat="genre in genreList.slice(20,30)"><a style="cursor: pointer;" ng-click="browseByMovieGenre(genre)">{{genre}}</a></li>
		</ul>
		<hr />
	</div>
	
	<div class="container-fluid">
		<h3>Browse by Movie Title</h3>
		<ul class="list-inline list-unstyled">
			<li ng-repeat="char in charList" class="list-inline-item"><a style="cursor: pointer;" ng-click="browseByMovieTitle($event)">{{char}}</a></li>
		</ul>
		<hr />
	</div>
</div>