<div class="container-fluid">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>    
		</div>
		<a class="navbar-brand" href="#">FabFlix</a>
			
		<div class="container-fluid">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">
			    	<li>
			    		<a ui-sref="home"><span class="glyphicon glyphicon-home"></span>
			    			Home
			    		</a>
			    	</li>
			    	<li>
			    		<a ui-sref="cart">
			    			<span class="glyphicon glyphicon-shopping-cart"></span>
			    			Shopping Cart
			    		</a>
			    	</li>
				</ul>
			    <ul class="nav navbar-nav navbar-right">
			    	<li>
			    		<a ui-sref="login">
			    			<span class="glyphicon glyphicon-log-out"></span>
			    			Logout
			    		</a>
			    	</li>
			    </ul>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<!-- Loading animation while page is loading -->
		<div ng-show="loading" class="text-center">
			<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
		</div>
		
		<!-- Notification for adding a movie to the cart -->
		<div class="alert alert-success" ng-show="!loading && successUpdateMovie">
			<strong>Success</strong>: Updated your cart quantity for the movie <i>{{successUpdateMovie}}</i>!
		</div>
		
		<div class="container-fluid" ng-show="!loading" style="margin-bottom: 1em;">
			<button type="button" class="btn btn-primary" ng-click="backClicked()">
				<span class="glyphicon glyphicon-chevron-left"></span>
				Return to Previous Screen
			</button>
		</div>

		
		<!-- Error message shown with invalid movie ID -->
		<div class="container-fluid" ng-show="!loading && movieData.error">
			<div class="col-md-6 col-md-offset-3 alert alert-danger">
				No movie found with ID <strong>{{movieId}}</strong>!
			</div>
		</div>
		
		<div class="contrainer-fluid" ng-show="!loading && !movieData.error">
			<article class="search-result row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a title="{{movieData.movie_title}}" class="thumbnail" style="cursor: pointer;">
						<img src="{{movieData.movie_banner_url}}" alt="{{movieData.movie_title}}" />
					</a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-6 excerpet">
					<h2>{{movieData.movie_title}}</h2>
					
					<ul class="meta-search list-unstyled">
						<li><h5>
							<i class="glyphicon glyphicon-search"></i> 
							Movie ID: {{movieData.movie_id}}
						</h5></li>
						<li><h5>
							<i class="glyphicon glyphicon-calendar"></i> 
							Year Released: <span class="label label-info">{{movieData.movie_year}}</span>
						</h5></li>
						<li><h5>
							<i class="glyphicon glyphicon-film"></i> 
							Director: <span class="label label-info">{{movieData.movie_director}}</span>
						</h5></li>
						<li><h5>
							<i class="glyphicon glyphicon-tag"></i> 
							Genre(s): 
							<ul class="list-unstyled list-inline" style="display: inline-block;">
								<li ng-repeat="genre in movieData.movie_genres">
									<span class="label label-info btn btn-primary" ng-click="browseByMovieGenre(genre)">
										{{genre}}
									</span>
								</li>
							</ul>
						</h5></li>
						<li><h5>
							<i class="glyphicon glyphicon-user"></i> 
							Star(s): 
							<ul class="list-unstyled list-inline" style="display: inline-block;">
								<li ng-repeat="star in movieData.movie_stars" style="margin-bottom:0.5em; margin-top:0.5em; cursor: pointer;">
									<span class="label label-info btn btn-primary" ng-click="onStarClicked(star.star_id)">{{star.star_first_name + " " + star.star_last_name}}</span>
								</li>
							</ul>
						</h5></li>
						<li><h5>
							<i class="glyphicon glyphicon-facetime-video"></i> 
							Preview: <button type="button" class="btn btn-link" ng-click="onPreviewLinkClicked()">Watch Preview</button>
						</h5></li>
						<li>
							<div class="row">
								<div class="col-xs-4 center-block">
									<label for="quantity">Quantity</label>
							    	<div class="input-group">
							     		<span class="input-group-btn">
							        		<button class="btn btn-primary" type="button" ng-click="subtractCartQuantity()">-</button>
							      		</span>
							      		<input id="quantity" ng-model="movieData.movie_cart_quantity" type="text" class="form-control" style="text-align: center;">
							     		<span class="input-group-btn">
							        		<button class="btn btn-primary" type="button" ng-click="addCartQuantity()">+</button>
							      		</span>
							    	</div>
							    </div>
							  	<div class="col-xs-4">
							  		<label for="addToCartButton"></label>
							    	<div class="input-group" style="margin-top: 6px">
										<button id="addToCartButton" type="button" class="btn btn-success" ng-click="submitCartQuantity()" ng-disabled="loadingCartSubmit">
											<span class="glyphicon glyphicon-shopping-cart"></span>
											{{addToCartText}}
											<i class="fa fa-spinner fa-spin fa-lg fa-fw" ng-show="loadingCartSubmit"></i>
										</button>
							    	</div>
							  	</div>
						  	</div>
						</li>
					</ul>
				</div>
			</article>
		</div>
		
	</div>
</div>